    .sprite0
    {
    height:86px;
    width:93px;
    background:url(sprite.png) -18px -671px no-repeat;
    }
    
    .sprite1{
    height:76px;
    width:75px;
    background:url(sprite.png) -24px -547px no-repeat;
    }
    
    .sprite2{
    height:76px;
    width:75px;
    background:url(sprite.png) -27px -419px no-repeat;
    }
    
    .sprite3{
    height:76px;
    width:75px;
    background:url(sprite.png) -26px -287px no-repeat;
    }
    
    .sprite4
    {
    height:75px;
    width:75px;
    background:url(sprite.png) -0px -0px no-repeat;
    }